<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <h1>
            <%= title %>
        </h1>
    </header>

    <div class="container">
        <!-- ปุ่มข้อมูลผู้ป่วย -->
        <button class="menu-btn menu-btn-large" onclick="window.location.href='/patients/add'">ลงทะเบียนผู้ป่วยใหม่</button>
        <button class="menu-btn menu-btn-large" onclick="window.location.href='/patients'">ค้นหาข้อมูลผู้ป่วย</button>
        <button class="menu-btn menu-btn-large" onclick="window.location.href='/examinationroom'">ห้องตรวจ</button>
        <button class="menu-btn menu-btn-large" onclick="window.location.href=''">ประวัติการรักษา</button>
    </div>

</body>

</html>
