<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เพิ่มข้อมูลผู้ป่วยใหม่</title>
    <link rel="stylesheet" href="/css/patientForm.css">
</head>

<body>
    <div class="container">
        <h1>เพิ่มข้อมูลผู้ป่วยใหม่</h1>
        <form action="/patients/add" method="POST">
            <div class="form-row">
                <div class="input-container">
                    <input type="text" id="name" name="name" placeholder="ชื่อ" required>
                </div>
                <div class="input-container">
                    <input type="text" id="national_id" name="national_id" placeholder="รหัสประจำตัวประชาชน" required>
                </div>
            </div>

            <div class="form-row">
                <div class="input-container">
                    <input type="number" id="age" name="age" placeholder="อายุ" required>
                </div>
                <div class="input-container">
                    <select id="gender" name="gender" required>
                        <option value="" disabled selected>เพศ</option>
                        <option value="ชาย">ชาย</option>
                        <option value="หญิง">หญิง</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="input-container">
                    <textarea id="address" name="address" placeholder="ที่อยู่" required></textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="input-container">
                    <input type="number" id="height" name="height" placeholder="ส่วนสูง" required>
                </div>
                <div class="input-container">
                    <input type="number" id="weight" name="weight" placeholder="น้ำหนัก" required>
                </div>
            </div>

            <div class="form-row">
                <div class="input-container">
                    <input type="number" id="bmi" name="bmi" placeholder="BMI" required>
                </div>
                <div class="input-container">
                    <input type="text" id="blood_pressure" name="blood_pressure" placeholder="ความดันโลหิต" required>
                </div>
            </div>

            <div class="form-row">
                <div class="input-container">
                    <textarea id="chronic_diseases" name="chronic_diseases" placeholder="โรคประจำตัว"></textarea>
                </div>
                <div class="input-container">
                    <textarea id="treatment_history" name="treatment_history" placeholder="ประวัติการรักษา"></textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="input-container">
                    <textarea id="reason_for_visit" name="reason_for_visit" placeholder="สาเหตุที่มาพบแพทย์"></textarea>
                </div>
            </div>

            <button type="submit">บันทึกข้อมูล</button><br><br>
            <button class="button2" onclick="goBack()">ย้อนกลับ</button>
        </form>
    </div>
    
</body>

<script>
    function goBack() {
    window.history.back(); // หรือใช้ window.history.go(-1);
}
</script>

</html>
