body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0FFF0; /* พื้นหลังสีอ่อน สบายตา */
    color: #333;
    display: flex; /* ใช้ Flexbox */
    justify-content: center; /* จัดกลางแนวนอน */
    align-items: center; /* จัดกลางแนวตั้ง */
    height: 100vh; /* ทำให้เต็มความสูงของหน้าจอ */
}

/* ส่วนของส่วนหัว */
header {
    background-color: #ACE1AF; /* สีน้ำเงินเข้มที่ดูทางการ */
    color: white;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* เพิ่มเงาเบาๆ เพื่อให้ดูทันสมัย */
}

/* ส่วนของเนื้อหาหลัก */
.container {
    max-width: 800px; /* จำกัดความกว้าง */
    margin: 30px auto;
    padding: 250px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* เพิ่มเงาให้ดูทันสมัย */
    text-align: center; /* จัดกลางข้อความ */
    display: flex; /* ใช้ Flexbox */
    flex-direction: column; /* ให้รายการใน container เรียงแนวตั้ง */
    justify-content: center; /* จัดให้ปุ่มอยู่ตรงกลางในแนวตั้ง */
    align-items: center; /* จัดให้ปุ่มอยู่ตรงกลางในแนวนอน */
    height: 10vh; /* ให้ความสูงของ container อยู่ที่ 60% ของหน้าจอ */
}

/* ปรับปุ่ม */
.menu-btn {
    background-color: #3A7D44; /* สีฟ้าของปุ่ม */
    color: white;
    padding: 14px 28px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    width: 100%; /* ให้ปุ่มเต็มความกว้าง */
    max-width: 300px; /* จำกัดความกว้างสูงสุด */
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 10px 0; /* เพิ่มระยะห่างระหว่างปุ่ม */
    text-decoration: none; /* ยกเลิกขีดเส้นใต้ */
}

.menu-btn:hover {
    background-color: #9DC08B; /* เปลี่ยนสีเมื่อ hover */
}

.menu-btn2 {
    background-color: #ff4b5c; /* สีฟ้าของปุ่ม */
    color: white;
    padding: 14px 28px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    width: 100%; /* ให้ปุ่มเต็มความกว้าง */
    max-width: 300px; /* จำกัดความกว้างสูงสุด */
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 10px 0; /* เพิ่มระยะห่างระหว่างปุ่ม */
    text-decoration: none; /* ยกเลิกขีดเส้นใต้ */
}

.menu-btn2:hover {
    background-color: #ff787f; /* เปลี่ยนสีเมื่อ hover */
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}
